<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @await Component.InvokeAsync("HeadeTitle")

    @await Component.InvokeAsync("Redirect")
    <link href="~/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/dashboard/plugins/fontawesome-free/css/all.min.css">
    <link href="~/dashboard/dashboardcolors.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/dashboard/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/dashboard/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/dashboard/plugins/toastr/toastr.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/dashboard/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/dashboard/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/colors/3.0.0/css/colors.css" integrity="sha512-JDgDKJJxVyJLwANfCzVKkY11LnbN9Br5/3LFmnoxrPPGvhhkt4YyuAwc2TVk977ffy3/Q/7FbGzu52AEJ8QctA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/dashboard/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/dashboard/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/dashboard/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/dashboard/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/dashboard/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/dashboard/plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dashboard/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/dashboard/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/dashboard/plugins/summernote/summernote-bs4.min.css">

    <link href="~/dashboard/dashbaord.css" rel="stylesheet" />
     <style>
        .card-title {
            font-size: 1.4rem;
        }

        .btn-group-sm > .btn, .btn-sm {
            padding: .15rem .4rem;
            font-size: 0.95rem;
            font-weight: bolder;
            line-height: 1.5;
            border-radius: .2rem;
        }

        .dashboard-1 .small-box p {
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        .dashboard-1 .small-box h3 {
            margin: 0 0;
        }

        .dashboard-1 .small-box {
            margin-bottom: 10px;
        }

        dt {
            font-weight: 700;
            padding: 6px;
            padding-right: 6px;
            padding-left: 6px;
            border: 1px solid #847e7e;
        }

        dd {
            margin-bottom: 0;
            margin-left: 0;
            padding: 6px;
            padding-right: 6px;
            padding-left: 6px;
            border: 1px solid #847e7e;
        }

        input[type=date].form-control, input[type=datetime-local].form-control, input[type=month].form-control, input[type=time].form-control {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 18px;
        }

        .juray-card-section .card-header {
            padding: .175rem 1.25rem;
        }

        .juray-card-section .card-title {
            font-size: 1.14rem;
        }

        .juray-card-section .card-body {
            padding: 0.5025rem;
        }

        .juray-card-section .btn-group-sm > .btn, .juray-card-section .btn-sm {
            padding: .15rem .4rem;
            font-size: 0.65rem;
            font-weight: bolder;
            line-height: 1.5;
            border-radius: .2rem;
        }

        .juray-card-section .btn {
            padding: .1375rem .175rem;
            font-size: .8rem;
        }

        .juray-xs p {
            margin-bottom: 0.3rem;
        }
    </style>
    @await Component.InvokeAsync("DashboardCSS")

    <style>
        .secdaiv {
            padding: 30px 10px !important;
        }
    </style>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid" style="margin-top:10px;">
                    @RenderBody()

                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.UtcNow.Year @await Component.InvokeAsync("CompanyName")</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 2.0
            </div>
        </footer>


    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
     @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
