<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("WebTitle")
    @await Component.InvokeAsync("Redirect")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" type="text/css" href="~/Layout/lawnella/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/lawnella/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/lawnella/css/bsnav.min.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/lawnella/css/owl.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/lawnella/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="~/Layout/lawnella/fonts/fonts/style.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/lawnella/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/lawnella/css/jquery.fancybox.min.css">
    <!-- Slider Revolution CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/Layout/lawnella/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/lawnella/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/lawnella/revolution/css/navigation.css">
    <link href="~/Layout/lawnella/css/main.css" rel="stylesheet" />
    <link href="~/customcss/maquee1.css" rel="stylesheet" />


    @RenderSection("MainStyle", required: false)


    @await Component.InvokeAsync("WebsiteCSS")

</head>
<body>

    @await Component.InvokeAsync("Reloader")

    @await Component.InvokeAsync("Menu")

    @RenderBody()

    @await Component.InvokeAsync("Footer")

    <a href="#" id="scroll" style="display: none;"><span class="icon-next-1"></span><i class="icon-branch-with-leaves-black-shape"></i></a>
    <!---------mbile-navbar----->
    <div class="bsnav-mobile">
        <div class="bsnav-mobile-overlay"></div>
        <div class="navbar">
            <button class="navbar-toggler toggler-spring mobile-toggler"><span class="fa fa-close"></span></button>
        </div>
    </div>
    <!---------mbile-navbar----->
    <script src="~/Layout/lawnella/js/jquery-3.3.1.min.js"></script>
    <script src="~/Layout/lawnella/js/bootstrap.min.js"></script>
    <script src="~/Layout/lawnella/js/bsnav.min.js"></script>
    <script src="~/Layout/lawnella/js/owl.js"></script>
    <!---Slider Revolution core JavaScript files ---->
    <script src="~/Layout/lawnella/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Layout/lawnella/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Slider Revolution extension scripts. ONLY NEEDED FOR LOCAL TESTING-->
    <script src="~/Layout/lawnella/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Layout/lawnella/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Layout/lawnella/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Layout/lawnella/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Layout/lawnella/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Layout/lawnella/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Layout/lawnella/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Layout/lawnella/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Layout/lawnella/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!---filter-gallery-->
    <script src="~/Layout/lawnella/js/isotope.min.js"></script>
    <!---insta light-box-gallery    -->
    <script src="~/Layout/lawnella/js/jquery.fancybox.min.js"></script>
    <!---html5lightbox -->
    <script src="~/Layout/lawnella/js/html5lightbox.js"></script>
    <!---jquery-ui    -->
    <script src="~/Layout/lawnella/js/jquery-ui.js"></script>
    <!---jquery-ui    -->
    <script src="~/Layout/lawnella/js/masonry.pkgd.js"></script>
    <!--End Google Map APi-->
    <script src="~/Layout/lawnella/js/validator.min.js"></script>
    <script src="~/Layout/lawnella/js/custom.js"></script>
    @await Component.InvokeAsync("Modal")
    @await Component.InvokeAsync("CustomeJavascript")

    @RenderSection("Scripts", required: false)


</body>
</html>