@page
@model JurayUniversal.Website.Areas.NIPSSADMIN.Pages.ManageCourse.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">NEW COURSE</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Course.CourseCategoryId" class="control-label">Course Category</label>
                        <select asp-for="Course.CourseCategoryId" class="form-control" asp-items="ViewBag.CourseCategoryId">
                            <option value="">Choose</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Course.SecNumber" class="control-label"></label>
                        <input asp-for="Course.SecNumber" class="form-control" type="number" />
                        <span asp-validation-for="Course.SecNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Course.Description" class="control-label"></label>
                        <textarea asp-for="Course.Description" class="form-control"></textarea>
                        <span asp-validation-for="Course.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Course.StartDate" class="control-label"></label>
                        <input asp-for="Course.StartDate" class="form-control" />
                        <span asp-validation-for="Course.StartDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Course.EndDate" class="control-label"></label>
                        <input asp-for="Course.EndDate" class="form-control" />
                        <span asp-validation-for="Course.EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Course.Year" class="control-label"></label>
                        <input asp-for="Course.Year" class="form-control" />
                        <span asp-validation-for="Course.Year" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
            <label asp-for="Course.CourseStatus" class="control-label"></label>
            @Html.DropDownListFor(model => model.Course.CourseStatus, new SelectList(Enum.GetValues(typeof(JurayUniversal.Domain.Enum.Enum.CourseStatus))), new { @class = "form-control" })
            <span asp-validation-for="Course.CourseStatus" class="text-danger"></span>
        </div>*@
                    <div class="form-group">
                        <label asp-for="Course.Theme" class="control-label"></label>
                        <textarea asp-for="Course.Theme" class="form-control"></textarea>
                        <span asp-validation-for="Course.Theme" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
