@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model JurayUniversal.Website.Areas.UI.Pages.SectionPage.MistroSectionModel
@{
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mistro UI Section</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JurayUniversal.Website.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Mistro UI Section</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h3>MISTRO THEME SECTION</h3>
            <table id="" class="table table-bordered table-striped">
                <tr>
                    <th>Section Code</th>

                    <th>Image Sample</th>
                </tr>

                @foreach (var imagePath in Model.ImagePaths)
                {
                    <tr>

                        @{


                        }
                        <th>
                            @imagePath
                        </th>
                        <th>
                            <a href="">
                                <img src="~/templatesample/mistro/@imagePath" alt="Image" style="width:500px;" />
                            </a>
                        </th>
                    </tr>
                }


            </table>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 -
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        var currentURL = window.location.href;

        var origin = new URL(currentURL).origin;
        console.log(origin); // Output: "http://www.fom.com"
        document.getElementById("origin1").textContent = origin;
        document.getElementById("origin2").textContent = origin;
        document.getElementById("origin3").textContent = origin;

    </script>
</body>
</html>