
@model JurayUniversal.Domain.Models.SuperSetting
@using Microsoft.AspNetCore.Http
@{
    string title = ViewData["Title"]?.ToString();
    string uppercaseTitle = title?.ToUpper();

    // Check if the URL contains any of the specified substrings
    bool containsTimetable = Context.Request.Path.Value.Contains("accounttimetable", StringComparison.OrdinalIgnoreCase);
    bool containsTimetable2 = Context.Request.Path.Value.Contains("timetableview", StringComparison.OrdinalIgnoreCase);
    bool containsTimetable3 = Context.Request.Path.Value.Contains("startvoting", StringComparison.OrdinalIgnoreCase);
    bool containsTimetable4 = Context.Request.Path.Value.Contains("previewvote", StringComparison.OrdinalIgnoreCase);
    bool containsTimetable5 = Context.Request.Path.Value.Contains("Viewelectionresult", StringComparison.OrdinalIgnoreCase);
    bool showViewport = !(containsTimetable || containsTimetable2 || containsTimetable3 || containsTimetable4 || containsTimetable5);
}

<title id="page-title-j">@uppercaseTitle | DASHBOARD | @Model.CompanyName</title>
<link rel="shortcut icon" href="@Model.CompanyIconUrl" type="image/x-icon" />

@if (showViewport)
{
    <meta name="viewport" content="width=device-width, initial-scale=1">
}