// Audio Player Styling 🙁 

.audio-player {
    position: absolute;
    width: 100%;
    bottom: 25px;
    background: transparent;
    box-shadow: 0 0 20px 0 #000a;
    font-family: arial;
    color: white;
    font-size: 0.75em;
    overflow: hidden;
    .timeline {
      background: white;
      width: 147px;
      height: 4px;
      position: relative;
      cursor: pointer;
      box-shadow: 0 2px 10px 0 #0008;
      .progress {
        background: var(--main-color-one);
        width: 0%;
        height: 100%;
        transition: 0.25s;
      }
    }
    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      .play-container {
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        background: red;
        border-radius: 2px;
      }
      .toggle-play {
        &.play {
          cursor: pointer;
          position: relative;
          left: 65%;
          top: 50%;
          transform: translate(-50%,-50%);
          height: 0;
          width: 0;
          border: 7px solid #0000;
          border-left: 13px solid white;
        //   &:hover {
        //     transform: scale(1.1);
        //   }
        }
        &.pause {
          height: 15px;
          width: 20px;
          cursor: pointer;
          position: relative;
          top: 50%;
          left: 62%;
          transform: translate(-50%,-50%);
          &:before {
            position: absolute;
            top: 0;
            left: 0px;
            background: white;
            content: "";
            height: 15px;
            width: 3px;
          }
          &:after {
            position: absolute;
            top: 0;
            right: 8px;
            background: white;
            content: "";
            height: 15px;
            width: 3px;
          }
        }
      }
      .time {
        display: flex;
  
        > * {
          padding: 2px;
        }
      }
      .volume-container {
        cursor: pointer;
        .volume-button {
          height: 26px;
          display: flex;
          align-items: center;
          i {
              font-size: 16px;
          }
        }
        
        position: relative;
        z-index: 2;
        .volume-slider {
          position: absolute;
          left: -3px; 
          top: 8px;
          z-index: -1;
          width: 0;
          height: 10px;
          background: white;
          box-shadow: 0 0 20px #000a;
          transition: .25s;
          .volume-percentage {
            background: var(--main-color-one);
            height: 100%;
            width: 75%;
          }
        }
        &:hover {
          .volume-slider {
            left: -86px;
            width: 80px;
          }
        }
      }
    }
}