/*-------------------------
    Contact Info Item
-------------------------*/
.contact-info-list-02 {
    margin: 0;
    padding: 0;
    list-style: none;
    .single-info-item {
        display: flex;
        align-items: center;
        &:hover {
            
        }
        +.single-info-item {
            margin-top: 18px;
        }
        .icon {
            color: #505050;
            font-size: 20px;
            margin-right: 12px;
            .icon-envelope {
                font-size: 14px;
            }
        }
        .details {
            font-size: 16px;
            line-height: 24px;
            font-family: var(--body-font);
            font-weight: 500;
            color: #505050;
        }
    }
}

.contact-page-form-section {
    &.contact-form-bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 120px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(14, 17, 90, 0.8);
        }
    }
    .contact-item-wrapper {
        background: #fff;
        padding: 50px;
        border-radius: 10px;
        margin-bottom: -300px;
        box-shadow: 0px 10px 40px rgba(72, 72, 72, 0.1);
        position: relative;
        .contact-shape {
            position: absolute;
            bottom: 4%;
            left: 20%;
        }
        .contact-shape-02 {
            position: absolute;
            left: 0%;
            bottom: 35%;
        }
        .contact-shape-03 {
            position: absolute;
            left: 39%;
            top: 35%;
        }
        .contact-shape-04 {
            position: absolute;
            left: 11%;
            top: 8%;
        }
        .contact-single-item {
            .content {
                margin-bottom: 50px;
                .title {
                    font-size: 40px;
                    line-height: 55px;
                    font-family: var(--heading-font);
                    font-weight: 600;
                    color: var(--heading-color);
                    margin-bottom: 20px;
                }
                p {
                    font-size: 16px;
                    line-height: 28px;
                    font-family: var(--body-font);
                    font-weight: 400;
                    color: #505050;
                    margin-bottom: 0px;
                }
            }
        }
    }
}