@page
@model JurayUniversal.Website.Areas.Content.Pages.IPages.Category.CreateModel

@{
    ViewData["Title"] = "PAGE CATEGORY Create";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">NEW PAGE CATEGORY</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PageCategory.Title" class="control-label"></label>
                <input asp-for="PageCategory.Title" class="form-control" />
                <span asp-validation-for="PageCategory.Title" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PageCategory.Publish" /> @Html.DisplayNameFor(model => model.PageCategory.Publish)
                </label>
            </div>
                    <div class="form-group">
                        <label asp-for="PageCategory.MenuSortOrder" class="control-label"></label>
                        <input asp-for="PageCategory.MenuSortOrder" class="form-control" />
                        <span asp-validation-for="PageCategory.MenuSortOrder" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PageCategory.HomeSortFrom" class="control-label"></label>
                        @Html.DropDownListFor(model => model.PageCategory.HomeSortFrom, new SelectList(Enum.GetValues(typeof(JurayUniversal.Domain.Enum.Enum.HomeSortFrom))), new { @class = "form-control" })
                        <span asp-validation-for="PageCategory.HomeSortFrom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
