// Office Address Sction 
.office-address-section {
    position: relative;
    overflow: hidden;
    padding: 108px 0px 70px 0px;
    .contact-shape {
        position: absolute;
        right: 2%;
        top: 6%;
    }
    .contact-shape-02 {
        position: absolute;
        left: -10%;
        top: 22%;
    }
}