@page
@model JurayUniversal.Website.Areas.Admin.Pages.AC.EditModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">UPDATE ACCOUNT</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UserDatas.Id" />
                    
                    <div class="form-group">
                        <label asp-for="UserDatas.Title" class="control-label"></label>
                        <input asp-for="UserDatas.Title" class="form-control" />
                        <span asp-validation-for="UserDatas.Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserDatas.FirstName" class="control-label"></label>
                        <input asp-for="UserDatas.FirstName" class="form-control" />
                        <span asp-validation-for="UserDatas.FirstName" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="UserDatas.LastName" class="control-label"></label>
                        <input asp-for="UserDatas.LastName" class="form-control" />
                        <span asp-validation-for="UserDatas.LastName" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="UserDatas.PhoneNumber" class="control-label"></label>
                        <input asp-for="UserDatas.PhoneNumber" class="form-control" />
                        <span asp-validation-for="UserDatas.PhoneNumber" class="text-danger"></span>
                    </div>
                     
                    <div class="form-group">
                        <label asp-for="UserDatas.DateOfBirth" class="control-label"></label>
                        <input asp-for="UserDatas.DateOfBirth" class="form-control" />
                        <span asp-validation-for="UserDatas.DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserDatas.Gender" class="control-label"></label>
                        <input asp-for="UserDatas.Gender" class="form-control" />
                        <span asp-validation-for="UserDatas.Gender" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserDatas.MaritalStatus" class="control-label"></label>
                        <input asp-for="UserDatas.MaritalStatus" class="form-control" />
                        <span asp-validation-for="UserDatas.MaritalStatus" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserDatas.UserStatus" class="control-label"></label>
                        @Html.DropDownListFor(model => model.UserDatas.UserStatus, new SelectList(Enum.GetValues(typeof(JurayUniversal.Domain.Enum.Enum.UserStatus))), new { @class = "form-control" })
                        <span asp-validation-for="UserDatas.UserStatus" class="text-danger"></span>
                    </div>
 

                  

                    <div class="form-group">
                        <label asp-for="UserDatas.City" class="control-label"></label>
                        <input asp-for="UserDatas.City" class="form-control" />
                        <span asp-validation-for="UserDatas.City" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserDatas.State" class="control-label"></label>
                        <input asp-for="UserDatas.State" class="form-control" />
                        <span asp-validation-for="UserDatas.State" class="text-danger"></span>
                    </div>

                     

                    <div class="form-group">
                        <label asp-for="UserDatas.Country" class="control-label"></label>
                        <input asp-for="UserDatas.Country" class="form-control" />
                        <span asp-validation-for="UserDatas.Country" class="text-danger"></span>
                    </div>




                    <div class="form-group">
                        <label asp-for="UserDatas.Biography" class="control-label"></label>
                        <textarea asp-for="UserDatas.Biography" class="form-control"></textarea>
                        <span asp-validation-for="UserDatas.Biography" class="text-danger"></span>
                    </div>
                     
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
