@page
@model JurayUniversal.Website.Pages.PortfolioAccountModel
@{
    ViewData["Title"] = "PROFILING AND PORTFOLIO";

    ViewData["PageName"] = "PROFILING AND PORTFOLIO";
    ViewData["Description"] = Model.SuperSetting.PortfolioDescription;
    ViewData["Image"] = Model.SuperSetting.CompanyLogoUrl;

    @if (Model.SuperSetting.TemplateLayoutKey == "Layout1111")
    {
        Layout = "/Pages/Shared/Layouts/Theme/RedbizTheme/_RedbizLayout.cshtml";
    }
    else if (Model.SuperSetting.TemplateLayoutKey == "Layout2222")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Carspot/_CarspotLayout.cshtml";
    }
    else if (Model.SuperSetting.TemplateLayoutKey == "Layout3333")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Alina/_AlinaLayout.cshtml";
    }
    else if (Model.SuperSetting.TemplateLayoutKey == "Layout4444")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Archo/_ArchoLayout.cshtml";
    }
    else if (Model.SuperSetting.TemplateLayoutKey == "Layout5555")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Bizup/_BizupLayout.cshtml";
    }
    else if (Model.SuperSetting.TemplateLayoutKey == "Layout6666")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Industry/_IndustryLayout.cshtml";
    }
    else if (Model.SuperSetting.TemplateLayoutKey == "Layout7777")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Lawnella/_LawnellaLayout.cshtml";
    }
    else if (Model.SuperSetting.TemplateLayoutKey == "Layout8888")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Mistro/_MistroLayout.cshtml";
    }
    else if (Model.SuperSetting.TemplateLayoutKey == "Layout9999")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Senatory/_SenatoryLayout.cshtml";
    }
    else if (Model.SuperSetting.TemplateLayoutKey == "Layout11111111")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Education/_EducationLayout.cshtml";
    }
    else if (Model.SuperSetting.TemplateLayoutKey == "Layout12121212")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Streamlab/_StreamlabLayout.cshtml";
    }
}
@await Component.InvokeAsync("BreadcrumOthers", new { data = "PROFILING AND PORTFOLIO" })

<style>
    .card {
        box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
        margin-bottom: 1rem;
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }

    
  
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    .form-group {
        margin-bottom: 1rem;
    }
    label:not(.form-check-label):not(.custom-file-label) {
        font-weight: 700;
    }

    label {
        display: inline-block;
        margin-bottom: .5rem;
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        box-shadow: inset 0 0 0 transparent;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    button, input {
        overflow: visible;
    }

    button, input, optgroup, select, textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
</style>
<div class="card card-default">
    <div class="container">
         
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h3>
                        @Model.SuperSetting.PortfolioTitle
                    </h3>
                    <p class="justify">
                        @Model.SuperSetting.PortfolioDescription
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                 <img src="@Model.SuperSetting.PortfolioBreacrumImageUrl" class="img-fluid"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Input.FirstName" class="control-label"></label>
                                        <input asp-for="Input.FirstName" class="form-control" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Input.MiddleName" class="control-label"></label>
                                        <input asp-for="Input.MiddleName" class="form-control" />
                                        <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Input.LastName" class="control-label"></label>
                                        <input asp-for="Input.LastName" class="form-control" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Input.Email" class="control-label"></label>
                                        <input asp-for="Input.Email" class="form-control" />

                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        <span id="emailStatus"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Input.Phone" class="control-label"></label>
                                        <input asp-for="Input.Phone" class="form-control" />

                                        <span asp-validation-for="Input.Phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Input.ProfileDomain" class="control-label"></label>
                                        <input asp-for="Input.ProfileDomain" class="form-control" />
                                        <span id="domainStatus"></span>
                                        <span asp-validation-for="Input.ProfileDomain" class="text-danger"></span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Input.Password" class="control-label"></label>
                                        <input asp-for="Input.Password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Input.ConfirmPassword" class="control-label"></label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                                <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                            </div>
                        </form>
                    </div>
                </div>


                <!-- /.row -->
            </div>
        </div>
    </div>
    
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function checkDomainAvailability(event) {
            var domain = event.target.value;
            console.log(domain)
            $.ajax({
                type: "GET",
                url: "/PortfolioAccount?handler=CheckDomainAvailability",
                data: { domain: domain },
                cache: false,
                success: function (data) {
                    if (data.isAvailable) {
                        $("#domainStatus").text("Domain is available.");
                    } else {
                        $("#domainStatus").text("Domain is not available.");
                    }
                }
            });
        }
    </script>


    <script>
        function checkEmailAvailability(event) {
            var email = event.target.value;
            $.ajax({
                type: "GET",
                url: "/PortfolioAccount?handler=CheckEmailAvailability",
                data: { email: email },
                cache: false,
                success: function (data) {
                      if (data.isAvailable) {
                            $("#emailStatus").text("Email is available.");
                        } else {
                            $("#emailStatus").text("Email is not available.");
                        }
                     
                }
            });
        }

        function isValidEmail(email) {
            // Regular expression for email validation
            if (email.includes("@@") && myString.includes(".")) {
                return true;
            } else {
                return false;
            }
        }

    </script>
}
