@model JurayUniversal.Application.Dtos.PortfolioNameAndImageDto

@{

}


<footer class="main-footer">
    <!-- To the right -->
    Copyright &copy; @Model.Fullname @DateTime.UtcNow.Year
    <!-- Default to the left -->
    <div class="float-right d-sm-inline">
        <strong>Powered By <a href="@ViewBag.domain">@ViewBag.companyname</a>.</strong> All rights reserved.

    </div>
</footer>
