<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("WebTitle")
    @await Component.InvokeAsync("Redirect")

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <!-- Stylesheet -->
    <link href="~/Layout/education/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Layout/education/css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="~/Layout/education/css/javascript-plugins-bundle.css" rel="stylesheet" />

    <!-- CSS | menuzord megamenu skins -->
    <link href="~/Layout/education/js/menuzord/css/menuzord.css" rel="stylesheet" />

    <!-- CSS | Main style file -->
    <link href="~/Layout/education/css/style-main.css" rel="stylesheet" type="text/css">
    <link id="menuzord-menu-skins" href="~/Layout/education/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />

    <!-- CSS | Responsive media queries -->
    <link href="~/Layout/education/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- CSS | Theme Color -->
    <link href="~/Layout/education/css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css">

    <!-- external javascripts -->
    <script src="~/Layout/education/js/jquery.js"></script>
    <script src="~/Layout/education/js/popper.min.js"></script>
    <script src="~/Layout/education/js/bootstrap.min.js"></script>
    <script src="~/Layout/education/js/javascript-plugins-bundle.js"></script>
    <script src="~/Layout/education/js/menuzord/js/menuzord.js"></script>

    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="~/Layout/education/js/revolution-slider/css/rs6.css">
    <link rel="stylesheet" type="text/css" href="~/Layout/education/js/revolution-slider/extra-rev-slider1.css">
    <!-- REVOLUTION LAYERS STYLES -->
    <!-- REVOLUTION JS FILES -->
    <script src="~/Layout/education/js/revolution-slider/js/revolution.tools.min.js"></script>
    <script src="~/Layout/education/js/revolution-slider/js/rs6.min.js"></script>
    <script src="~/Layout/education/js/revolution-slider/extra-rev-slider1.js"></script>
    <link href="~/customcss/maquee1.css" rel="stylesheet" />


    @RenderSection("MainStyle", required: false)


    @await Component.InvokeAsync("WebsiteCSS")

</head>
<body>
    @await Component.InvokeAsync("Reloader")

    @await Component.InvokeAsync("Menu")

    @RenderBody()

    @await Component.InvokeAsync("Footer")
    <script src="~/Layout/education/js/custom.js"></script>
    @await Component.InvokeAsync("Modal")
    @await Component.InvokeAsync("CustomeJavascript")

    @RenderSection("Scripts", required: false)


</body>
</html>