@page
@model JurayUniversal.Website.Areas.Admin.Pages.UtilityCode.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Training</h4>
    <hr />
     
</div>
