<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout - Lawnella - Just another Steel Themes Sites site </title>
    <meta name="keywords" content="law , lawnella , leaf , trim , landscape , grass">
    <meta name="Description" content=">Lawnella - Just another Steel Themes Sites site">
    <meta name="title" content="Lawnella">
    <meta property="fb:app_id" content="000" />
    <meta property="og:type" content="Home - Lawnella" />
    <meta property="og:url" content="https://www.Lawnella.com/" />
    <meta property="og:title" content="Lawnella">
    <meta property="og:image" content="http://steelthemes.com/demo/Elango/lawnella-final/img/logo.png">
    <meta property="og:description" content=">Lawnella - Just another Steel Themes Sites site">
    <link href="img/favicon.png" rel="shortcut icon">
    <link href="img/favicon-16x16.png" sizes="16x16" type="image/png" rel="icon">
    <link href="img/favicon-32x32.png" sizes="32x32" type="image/png" rel="icon">
    <meta name="theme-color" content="#095613">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bsnav.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/fonts/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css">
    <!-- Slider Revolution CSS Files -->
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
    <!-- light-box
        <link href="js/lightbox-jscss/css/lightgallery.css" rel="stylesheet">
        -->
</head>

<body>

    <!-- Preloader -->
    <div class="preloader"></div>
    <!-- Preloader -->
    <div class="page_wapper">
        <!---------page-wapper----->

        <section id="topbar" class="topbar clearfix">
            <div class="container">
                <div class="row">
                    <div class="topbar-one  topbar-widgets  col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="top_bar_widgets_inner">
                            <p><span class="icon-leaf"></span>Winner of Over 200 Awards Since 1964. <a href="#">Free Consultation <span class="icon-next"></span></a></p>
                        </div>
                    </div>

                    <div class="topbar-two  topbar-widgets  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="top_bar_widgets_inner">
                            <ul>
                                <li><a href="#">Special Offers</a></li>
                                <li><a href="#"> FAQ’s</a></li>
                                <li><a href="#"> Brochures</a></li>
                                <li> <a href="#" class="loca_pin"><span class="icon-pin"></span>Find a Location</a></li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="mid_bar">

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12">

                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        <div class="mid_bar_content">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="mid_wapper">
                                        <div id="text-6" class="widget widget_text">
                                            <div class="textwidget">
                                                <div class="mid_wapper">
                                                    <span class="icon icon-time-and-date"></span>
                                                    <p></p>
                                                    <div class="content_mid">
                                                        <p class="dark">Mon – Sat 9.00 – 18.00</p>
                                                        <p class="light">Sunday Holiday</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="mid_wapper">
                                        <div id="text-7" class="widget widget_text">
                                            <div class="textwidget">
                                                <div class="mid_wapper">
                                                    <span class="icon icon-telephone"></span>
                                                    <p></p>
                                                    <div class="content_mid">
                                                        <p class="dark">(555) 890 1234 </p>
                                                        <p class="light">support@lawnella.com</p>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <div class="schedule-box"><a class="schedule-btn theme_btn" href="#">Get a Quote</a></div>
                    </div>
                </div>
            </div>
        </section>

        <header id="header" class="header header-style-v1">
            <div class="navbar navbar-expand-lg bsnav bsnav-sticky bsnav-sticky-slide">
                <div class="container">
                    <div class="site-logo ">
                        <a href="index.html"><img src="img/logo.png" class="img-fluid" alt="logo" /></a>
                    </div>
                    <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar_left navbar-nav navbar-mobile  mr-auto ">
                            <li class="menu-item nav-item menu-item-has-children dropdown active">
                                <a class="nav-link link_hd first-child " href="index.html">  Home  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="index.html">Landscape Home Page 01</a></li>
                                    <li class="nav-item"><a class="nav-link" href="index-2.html">Landscape Home Page 02</a></li>
                                    <li class="nav-item"><a class="nav-link" href="index-3.html">Landscape Home Page 03</a></li>
                                    <li class="nav-item"><a class="nav-link" href="index-4.html">Landscape Home Page 04</a></li>
                                </ul>
                            </li>

                            <li class="menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="#">  Pages </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
                                    <li class="nav-item"><a class="nav-link" href="faqs.html">FAQ's</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pricing-plans.html">Pricing Plans</a></li>
                                    <li class="nav-item"><a class="nav-link" href="testimonials.html">Testimonials</a></li>
                                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                                    <li class="nav-item"><a class="nav-link" href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li class=" menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="services-01.html">  Services  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="service-single.html">Service Single</a></li>
                                    <li class="nav-item"><a class="nav-link" href="services-01.html">Services 01</a></li>
                                    <li class="nav-item"><a class="nav-link" href="services-02.html">Services 02</a></li>
                                </ul>
                            </li>
                            <li class="menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="3-columns-grid.html">  Projects  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="2-columns-grid.html">2 Columns Grid</a></li>
                                    <li class="nav-item"><a class="nav-link" href="2-columns-masonry.html">2 Columns Masonry</a></li>
                                    <li class="nav-item"><a class="nav-link" href="3-columns-grid.html">3 Columns Grid</a></li>
                                    <li class="nav-item"><a class="nav-link" href="3-columns-masonry.html">3 Columns Masonry</a></li>
                                    <li class="nav-item"><a class="nav-link" href="project-detail.html">Project Detail</a></li>
                                </ul>
                            </li>
                            <li class="menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="blog-left-sidebar.html">  Blog  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li class="nav-item"><a class="nav-link" href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    <li class="nav-item"><a class="nav-link" href="single-post.html">Single Post</a></li>
                                </ul>
                            </li>
                            <li class="menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="products.html">  Shop  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="product-single.html">Products Single</a></li>
                                    <li class="nav-item"><a class="nav-link" href="products.html">Products</a></li>
                                    <li class="nav-item"><a class="nav-link" href="shopping-cart.html">Shopping cart</a></li>
                                    <li class="nav-item"><a class="nav-link" href="checkout.html">Checkout</a></li>
                                    <li class="nav-item"><a class="nav-link" href="my-account.html">My Account</a></li>
                                </ul>
                            </li>


                        </ul>

                        <ul class="navbar_right navbar-nav navbar-mobile  ml-auto">
                            <li class="menu-item nav-item search_link menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="#"> <span class="icon-search"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="nav_search">
                                        <form>
                                            <input type="text" name="search" placeholder="KeyWords...">
                                            <button class="theme_btn"><span class="icon-search"></span></button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>


                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <!-------------page----header---------->

            <div class="page-header title-area">

                <div class="container">
                    <div class="header-title ">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="page-title">Checkout</h1>
                            </div>
                        </div>
                    </div>
                    <div class="breadcrumb_area">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <!-- start breadcrumbs -->
                                <div class="breadcrumbs">
                                    <ul class="bread-crumb clearfix">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Shop</a></li>
                                        <li>Checkout</li>
                                    </ul>
                                </div>
                                <!-- end breadcrumbs -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------page----header---------->

            <div class="Products_checkout">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 submit_form">
                            <div class="check_out_form ">
                                <div class="section-title one">
                                    <h2>Contact Information</h2>
                                </div>
                                <form action="#" class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <input type="text" placeholder="Phone Number">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <input type="email" placeholder="Email Address">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="create">
                                            <input name="checkbox" type="checkbox" id="test1" required="required">
                                            <label for="test1">Get Product Updates & Offers</label>
                                        </div>
                                    </div>
                                </form>


                                <div class="section-title two">
                                    <h2>Shipping to a Different Address </h2>
                                </div>
                                <form action="#" class="row">

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" placeholder="First Name *">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" placeholder="Last Name *">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" placeholder="Address">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" placeholder="City *">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <select name="service" id="state">
                                            <option selected="selected">State</option>
                                           <option>Tamilnadu</option>
                                            <option>Kerala</option>
                                            <option>Karanataka</option>
                                            </select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <input type="text" placeholder="Pincode">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="create">
                                            <input name="checkbox" type="checkbox" id="test2" required="required">
                                            <label for="test2">Save for future shopping</label>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  ">
                            <div class="product_order_pay ">
                                <div class="product_content clearfix">
                                    <div class="content">
                                        <img src="img/product/shopping-cart-1.jpg" class="img-fluid" alt="product">
                                        <h2>Lawn Mower</h2>
                                    </div>
                                    <h6>$34.99</h6>
                                </div>
                                <div class="product_content clearfix">
                                    <div class="content">
                                        <img src="img/product/shopping-cart-2.jpg" class="img-fluid" alt="product">
                                        <h2>Grass Trimmer</h2>
                                    </div>
                                    <h6>$29.99</h6>
                                </div>
                                <div class="total_payment">
                                    <h6>Sub total <span>$64.98</span></h6>
                                    <h6>Shipping <span>$100</span></h6>
                                    <div class="final_total">
                                        <h6>Total <span>$164.98</span></h6>
                                    </div>
                                </div>
                                <button type="submit" class="theme_btn">Continue Payment</button>
                            </div>
                        </div>
                        <!-- /submit_form -->
                    </div>
                    <div class="payment_methord">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="payment_methord_inner">
                                    <h2>Choose a Payment Method</h2>
                                    <div class="pay">
                                        <input name="checkbox" type="checkbox" id="test3" required="required">
                                        <label for="test3">Direct Bank Transfer</label>
                                    </div>
                                    <div class="pay">


                                        <input name="checkbox" type="checkbox" id="test4" required="required">
                                        <label for="test4">Credit Card / Debit Card</label>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                    <div class="pay">
                                        <input name="checkbox" type="checkbox" id="test5" required="required">
                                        <label for="test5">Cheque Payment</label>
                                    </div>

                                    <div class="pay">
                                        <input name="checkbox" type="checkbox" id="test6" required="required">
                                        <label for="test6">Paypal</label>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="payment_methord_inner">
                                    <h2>Card Details</h2>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                                <input type="text" placeholder="Name on the Card">
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                                <input type="text" placeholder="Card Number">
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <input type="text" placeholder="Expiry Date">
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <input type="text" placeholder="Security Code">
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <button class="theme_btn" type="submit">Make Payment</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!--footer-->
            <section class="footer footer_type_one">
                <div class="container">
                    <div class="row">
                        <div class=" col-md-4 col-sm-6 col-xs-12">
                            <div class="footer_widgets ">
                                <img src="img/footer-logo.png" class="img-fluid logo_title" alt="img" />
                                <div class="inner_widgets ">
                                    <p class="about_para"><span>Lawnella’s</span> hardworking team has been delivering outstanding, environmentally friendly landscapes for over 25 years around the world...</p>
                                    <div class="subscribe">
                                        <p>Receive Special Offers & Promos</p>
                                        <form>
                                            <input type="text" name="sub" placeholder="Email Address..." />
                                            <button type="submit" class="arrow_btn"><span class="icon-next-1"></span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-4 col-sm-6 col-xs-12">
                            <div class="footer_widgets">

                                <h2 class="title">Usefull Links</h2>
                                <div class="inner_widgets">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">

                                            <ul>
                                                <li><a href="#">About Us</a></li>
                                                <li><a href="#">Meet Experts</a></li>
                                                <li><a href="#">Projects</a></li>
                                                <li><a href="#">A Quote</a></li>
                                                <li><a href="#">Locations</a></li>
                                                <li><a href="#">Testimonials</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <ul>
                                                <li><a href="#">Services</a></li>
                                                <li><a href="#">FAQ’s</a></li>
                                                <li><a href="#">Appointment</a></li>
                                                <li><a href="#">Private Policy</a></li>
                                                <li><a href="#">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-4 col-sm-6 col-xs-12">
                            <div class="footer_widgets">
                                <h2 class="title">Latest From Blog</h2>
                                <div class="inner_widgets">
                                    <div class="latest_news_foot">
                                        <img src="img/foot-news-1.jpg" class="img-fluid" alt="img" />
                                        <div class="text">
                                            <h2><a href="#">Basic Indoor Cactus Care</a></h2>
                                            <p><span class="icon-calendar"></span>Aug 24, 2019</p>
                                        </div>
                                    </div>
                                    <div class="latest_news_foot">
                                        <img src="img/foot-news-2.jpg" class="img-fluid" alt="img" />
                                        <div class="text">
                                            <h2><a href="#">Basic Indoor Cactus Care</a></h2>
                                            <p><span class="icon-calendar"></span>Aug 24, 2019</p>
                                        </div>
                                    </div>
                                    <div class="latest_news_foot">
                                        <img src="img/foot-news-3.jpg" class="img-fluid" alt="img" />
                                        <div class="text">
                                            <h2><a href="#">Basic Indoor Cactus Care</a></h2>
                                            <p><span class="icon-calendar"></span>Aug 24, 2019</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--footer-->
            <!--footer-->
            <section class="footer_last footer_last_type_one">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p>Copyright © 2020 Lawnella, All Rights Reserved.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-skype"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--footer-->


        </main>

        <a href="#" id="scroll" style="display: none;"><span class="icon-next-1"></span><i class="icon-branch-with-leaves-black-shape"></i></a>
        <!---------page-wapper----->
    </div>

    <!---------mbile-navbar----->
    <div class="bsnav-mobile">
        <div class="bsnav-mobile-overlay"></div>
        <div class="navbar">
            <button class="navbar-toggler toggler-spring mobile-toggler"><span class="fa fa-close"></span></button>
        </div>
    </div>
    <!---------mbile-navbar----->

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bsnav.min.js"></script>
    <script src="js/owl.js"></script>
    <!---Slider Revolution core JavaScript files ---->
    <script src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Slider Revolution extension scripts. ONLY NEEDED FOR LOCAL TESTING-->
    <script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!---filter-gallery-->
    <script src="js/isotope.min.js"></script>
    <!---insta light-box-gallery    -->
    <script src="js/jquery.fancybox.min.js"></script>
    <!---html5lightbox -->
    <script src="js/html5lightbox.js"></script>
    <!---jquery-ui    -->
    <script src="js/jquery-ui.js"></script>
    <!---jquery-ui    -->
    <script src="js/masonry.pkgd.js"></script>
    <!--Google Map APi Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
    <script src="js/gmaps.js"></script>
    <script src="js/map-script.js"></script>
    <!--End Google Map APi-->
    <script src="js/validator.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>