<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Service 02 - Lawnella - Just another Steel Themes Sites site </title>
    <meta name="keywords" content="law , lawnella , leaf , trim , landscape , grass">
    <meta name="Description" content=">Lawnella - Just another Steel Themes Sites site">
    <meta name="title" content="Lawnella">
    <meta property="fb:app_id" content="000" />
    <meta property="og:type" content="Home - Lawnella" />
    <meta property="og:url" content="https://www.Lawnella.com/" />
    <meta property="og:title" content="Lawnella">
    <meta property="og:image" content="http://steelthemes.com/demo/Elango/lawnella-final/img/logo.png">
    <meta property="og:description" content=">Lawnella - Just another Steel Themes Sites site">
    <link href="img/favicon.png" rel="shortcut icon">
    <link href="img/favicon-16x16.png" sizes="16x16" type="image/png" rel="icon">
    <link href="img/favicon-32x32.png" sizes="32x32" type="image/png" rel="icon">

    <meta name="theme-color" content="#095613">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bsnav.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/fonts/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css">
    <!-- Slider Revolution CSS Files -->
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
    <!-- light-box
        <link href="js/lightbox-jscss/css/lightgallery.css" rel="stylesheet">
        -->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader"></div>
    <!-- Preloader -->

    <div class="page_wapper">
        <!---------page-wapper----->

        <section id="topbar" class="topbar clearfix">
            <div class="container">
                <div class="row">
                    <div class="topbar-one  topbar-widgets  col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="top_bar_widgets_inner">
                            <p><span class="icon-leaf"></span>Winner of Over 200 Awards Since 1964. <a href="#">Free Consultation <span class="icon-next"></span></a></p>
                        </div>
                    </div>

                    <div class="topbar-two  topbar-widgets  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="top_bar_widgets_inner">
                            <ul>
                                <li><a href="#">Special Offers</a></li>
                                <li><a href="#"> FAQ’s</a></li>
                                <li><a href="#"> Brochures</a></li>
                                <li> <a href="#" class="loca_pin"><span class="icon-pin"></span>Find a Location</a></li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="mid_bar">

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12">

                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        <div class="mid_bar_content">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="mid_wapper">
                                        <div id="text-6" class="widget widget_text">
                                            <div class="textwidget">
                                                <div class="mid_wapper">
                                                    <span class="icon icon-time-and-date"></span>
                                                    <p></p>
                                                    <div class="content_mid">
                                                        <p class="dark">Mon – Sat 9.00 – 18.00</p>
                                                        <p class="light">Sunday Holiday</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="mid_wapper">
                                        <div id="text-7" class="widget widget_text">
                                            <div class="textwidget">
                                                <div class="mid_wapper">
                                                    <span class="icon icon-telephone"></span>
                                                    <p></p>
                                                    <div class="content_mid">
                                                        <p class="dark">(555) 890 1234 </p>
                                                        <p class="light">support@lawnella.com</p>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <div class="schedule-box"><a class="schedule-btn theme_btn" href="#">Get a Quote</a></div>
                    </div>
                </div>
            </div>
        </section>

        <header id="header" class="header header-style-v1">
            <div class="navbar navbar-expand-lg bsnav bsnav-sticky bsnav-sticky-slide">
                <div class="container">
                    <div class="site-logo ">
                        <a href="index.html"><img src="img/logo.png" class="img-fluid" alt="logo" /></a>
                    </div>
                    <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar_left navbar-nav navbar-mobile  mr-auto ">
                            <li class="menu-item nav-item menu-item-has-children dropdown active">
                                <a class="nav-link link_hd first-child " href="index.html">  Home  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="index.html">Landscape Home Page 01</a></li>
                                    <li class="nav-item"><a class="nav-link" href="index-2.html">Landscape Home Page 02</a></li>
                                    <li class="nav-item"><a class="nav-link" href="index-3.html">Landscape Home Page 03</a></li>
                                    <li class="nav-item"><a class="nav-link" href="index-4.html">Landscape Home Page 04</a></li>
                                </ul>
                            </li>

                            <li class="menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="#">  Pages </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
                                    <li class="nav-item"><a class="nav-link" href="faqs.html">FAQ's</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pricing-plans.html">Pricing Plans</a></li>
                                    <li class="nav-item"><a class="nav-link" href="testimonials.html">Testimonials</a></li>
                                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                                    <li class="nav-item"><a class="nav-link" href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li class=" menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="services-01.html">  Services  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="service-single.html">Service Single</a></li>
                                    <li class="nav-item"><a class="nav-link" href="services-01.html">Services 01</a></li>
                                    <li class="nav-item"><a class="nav-link" href="services-02.html">Services 02</a></li>
                                </ul>
                            </li>
                            <li class="menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="3-columns-grid.html">  Projects  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="2-columns-grid.html">2 Columns Grid</a></li>
                                    <li class="nav-item"><a class="nav-link" href="2-columns-masonry.html">2 Columns Masonry</a></li>
                                    <li class="nav-item"><a class="nav-link" href="3-columns-grid.html">3 Columns Grid</a></li>
                                    <li class="nav-item"><a class="nav-link" href="3-columns-masonry.html">3 Columns Masonry</a></li>
                                    <li class="nav-item"><a class="nav-link" href="project-detail.html">Project Detail</a></li>
                                </ul>
                            </li>
                            <li class="menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="blog-left-sidebar.html">  Blog  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li class="nav-item"><a class="nav-link" href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    <li class="nav-item"><a class="nav-link" href="single-post.html">Single Post</a></li>
                                </ul>
                            </li>
                            <li class="menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="products.html">  Shop  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="product-single.html">Products Single</a></li>
                                    <li class="nav-item"><a class="nav-link" href="products.html">Products</a></li>
                                    <li class="nav-item"><a class="nav-link" href="shopping-cart.html">Shopping cart</a></li>
                                    <li class="nav-item"><a class="nav-link" href="checkout.html">Checkout</a></li>
                                    <li class="nav-item"><a class="nav-link" href="my-account.html">My Account</a></li>
                                </ul>
                            </li>


                        </ul>

                        <ul class="navbar_right navbar-nav navbar-mobile  ml-auto">
                            <li class="menu-item nav-item search_link menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="#"> <span class="icon-search"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="nav_search">
                                        <form>
                                            <input type="text" name="search" placeholder="KeyWords...">
                                            <button class="theme_btn"><span class="icon-search"></span></button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>


                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <!-------------page----header---------->

            <div class="page-header title-area">

                <div class="container">
                    <div class="header-title ">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="page-title">Services 02</h1>
                            </div>
                        </div>
                    </div>
                    <div class="breadcrumb_area">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <!-- start breadcrumbs -->
                                <div class="breadcrumbs">
                                    <ul class="bread-crumb clearfix">
                                        <li><a href="#">Home</a></li>
                                        <li>Services</li>
                                    </ul>
                                </div>
                                <!-- end breadcrumbs -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------page----header---------->

            <section class="service_all tp_six">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="heading_content">
                                <h1>We Can Create an Environment That’s Beyond Your Imagination.</h1>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="heading_content">
                                <p>Our employees are the backbone of our company. Lawnella has an ongoing employee training program that includes a regular schedule of seminars and information updates.</p>
                                <a href="#"><span class="icon-next"></span>Get Your Quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="service_inner type_six">
                                <span class="icon icon-lawn-mower"></span>
                                <div class="content">
                                    <h2><a href="#">Lawn Fertilization</a></h2>
                                    <p>Blinded by desire they cannot procure foresee and trouble that are bounded avoids a pain that produces no resultant. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="service_inner type_six">
                                <span class="icon icon-snow-1"></span>
                                <div class="content">
                                    <h2><a href="#">Snow & Ice Removel</a></h2>
                                    <p>Perfectly simple and easy to take distinguish a free hour, when our power pleasure that has no consequences. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="service_inner type_six">
                                <span class="icon icon-water"></span>
                                <div class="content">
                                    <h2><a href="#">Irrigation & Drainage</a></h2>
                                    <p>Prevents our being able to do what like enjoy every pleasure circumstances great explorer of the truth, the master builder. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="service_inner type_six">
                                <span class="icon icon-autumn"></span>
                                <div class="content">
                                    <h2><a href="#">Spring & Fall Cleanup</a></h2>
                                    <p>Perfectly simple and easy to take distinguish a free hour, when our power pleasure that has no consequences. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="service_inner type_six">
                                <span class="icon icon-terraces"></span>
                                <div class="content">
                                    <h2><a href="#">Stone & Hardscaping</a></h2>
                                    <p>Prevents our being able to do what like enjoy every pleasure circumstances great explorer of the truth, the master builder.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="service_inner type_six">
                                <span class="icon icon-customer-service"></span>
                                <div class="content">
                                    <h2><a href="#">Free Consultation</a></h2>
                                    <p>Blinded by desire they cannot procure foresee and trouble that are bounded avoids a pain that produces no resultant. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!----contact_type_three------->
            <section class="contant contact_type_three style_two">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12 bg_emergency">
                            <div class="project_consultation">

                                <h2>Request for Project Consultation
                                </h2>
                                <div class="pro_box">
                                    <h3>Lawn Fertilization</h3>
                                    <h6>Get 20% Off</h6>
                                    <p>Offer till this month end.</p>
                                    <a href="#" class="theme_btn">Get It Now</a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 bg_appointment">
                            <div class="form_appointment">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="name" placeholder="Your Name *">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="email" placeholder="Email *">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="phone" placeholder=" Phone (Optional)">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <select name="service" id="service">
                                                                <option selected="selected">Select Service</option>
                                                               <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                             </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="address" placeholder="Address *">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="po_code" placeholder="Zip Code">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <textarea name="message" placeholder="Additional Information... (Optional) " rows="3" required="required" data-error="Please, leave us a message."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-12">
                                            <div class="form-group mg_top check_box">
                                                <input type="checkbox" id="test2">
                                                <label for="test2">Click here &amp; Submit to receive updates &amp; offers</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group mg_top apbtn">
                                                <button class="theme_btn" type="submit">Submit Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!----contact_type_three------->
            <!----testimonial_type_four------->
            <section class="testimonial_all tp_four style_two">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="heading_inner">
                                <h1>Words From Our Customers</h1>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="owl-carousel single_items">
                                <div class="testimonial_inner type_four">
                                    <div class="upper_content">

                                        <div class="rating">
                                            <ul>
                                                <li><span class="icon-star"></span> <span class="icon-star"></span> <span class="icon-star"></span> <span class="icon-star"></span> <span class="icon-night"></span> </li>
                                            </ul>
                                        </div>
                                        <h6>We really admire the professionalism, guidance, seds courtesy and care you give each & transaction our thanks you do better work.</h6>

                                        <h2> Piyush Miranda <span>- Bell, California</span></h2>
                                        <span class="icon-Hnetcom-image-3 icon"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!----testimonial_type_four------->


            <!--footer-->
            <section class="footer footer_type_one">
                <div class="container">
                    <div class="row">
                        <div class=" col-md-4 col-sm-6 col-xs-12">
                            <div class="footer_widgets ">
                                <img src="img/footer-logo.png" class="img-fluid logo_title" alt="img" />
                                <div class="inner_widgets ">
                                    <p class="about_para"><span>Lawnella’s</span> hardworking team has been delivering outstanding, environmentally friendly landscapes for over 25 years around the world...</p>
                                    <div class="subscribe">
                                        <p>Receive Special Offers & Promos</p>
                                        <form>
                                            <input type="text" name="sub" placeholder="Email Address..." />
                                            <button type="submit" class="arrow_btn"><span class="icon-next-1"></span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-4 col-sm-6 col-xs-12">
                            <div class="footer_widgets">

                                <h2 class="title">Usefull Links</h2>
                                <div class="inner_widgets">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">

                                            <ul>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="#">Meet Experts</a></li>
                                                <li><a href="products.html">Projects</a></li>
                                                <li><a href="#">A Quote</a></li>
                                                <li><a href="#">Locations</a></li>
                                                <li><a href="testimonials.html">Testimonials</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <ul>
                                                <li><a href="services-01.html">Services</a></li>
                                                <li><a href="faqs.html">FAQ’s</a></li>
                                                <li><a href="#">Appointment</a></li>
                                                <li><a href="#">Private Policy</a></li>
                                                <li><a href="contact.html">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-4 col-sm-6 col-xs-12">
                            <div class="footer_widgets">
                                <h2 class="title">Latest From Blog</h2>
                                <div class="inner_widgets">
                                    <div class="latest_news_foot">
                                        <img src="img/foot-news-1.jpg" class="img-fluid" alt="img" />
                                        <div class="text">
                                            <h2><a href="#">Basic Indoor Cactus Care</a></h2>
                                            <p><span class="icon-calendar"></span>Aug 24, 2019</p>
                                        </div>
                                    </div>
                                    <div class="latest_news_foot">
                                        <img src="img/foot-news-2.jpg" class="img-fluid" alt="img" />
                                        <div class="text">
                                            <h2><a href="#">Basic Indoor Cactus Care</a></h2>
                                            <p><span class="icon-calendar"></span>Aug 24, 2019</p>
                                        </div>
                                    </div>
                                    <div class="latest_news_foot">
                                        <img src="img/foot-news-3.jpg" class="img-fluid" alt="img" />
                                        <div class="text">
                                            <h2><a href="#">Basic Indoor Cactus Care</a></h2>
                                            <p><span class="icon-calendar"></span>Aug 24, 2019</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--footer-->
            <!--footer-->
            <section class="footer_last footer_last_type_one">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p>Copyright © 2020 Lawnella, All Rights Reserved.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-skype"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--footer-->


        </main>

        <a href="#" id="scroll" style="display: none;"><span class="icon-next-1"></span><i class="icon-branch-with-leaves-black-shape"></i></a>
        <!---------page-wapper----->
    </div>

    <!---------mbile-navbar----->
    <div class="bsnav-mobile">
        <div class="bsnav-mobile-overlay"></div>
        <div class="navbar">
            <button class="navbar-toggler toggler-spring mobile-toggler"><span class="fa fa-close"></span></button>
        </div>
    </div>
    <!---------mbile-navbar----->

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bsnav.min.js"></script>
    <script src="js/owl.js"></script>
    <!---Slider Revolution core JavaScript files ---->
    <script src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Slider Revolution extension scripts. ONLY NEEDED FOR LOCAL TESTING-->
    <script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!---filter-gallery-->
    <script src="js/isotope.min.js"></script>
    <!---insta light-box-gallery    -->
    <script src="js/jquery.fancybox.min.js"></script>
    <!---html5lightbox -->
    <script src="js/html5lightbox.js"></script>
    <!---jquery-ui    -->
    <script src="js/jquery-ui.js"></script>
    <!---jquery-ui    -->
    <script src="js/masonry.pkgd.js"></script>
    <!--Google Map APi Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
    <script src="js/gmaps.js"></script>
    <script src="js/map-script.js"></script>
    <!--End Google Map APi-->
    <script src="js/validator.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>