<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Single Post - Lawnella - Just another Steel Themes Sites site </title>
    <meta name="keywords" content="law , lawnella , leaf , trim , landscape , grass">
    <meta name="Description" content=">Lawnella - Just another Steel Themes Sites site">
    <meta name="title" content="Lawnella">
    <meta property="fb:app_id" content="000" />
    <meta property="og:type" content="Home - Lawnella" />
    <meta property="og:url" content="https://www.Lawnella.com/" />
    <meta property="og:title" content="Lawnella">
    <meta property="og:image" content="http://steelthemes.com/demo/Elango/lawnella-final/img/logo.png">
    <meta property="og:description" content=">Lawnella - Just another Steel Themes Sites site">
    <link href="img/favicon.png" rel="shortcut icon">
    <link href="img/favicon-16x16.png" sizes="16x16" type="image/png" rel="icon">
    <link href="img/favicon-32x32.png" sizes="32x32" type="image/png" rel="icon">

    <meta name="theme-color" content="#095613">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bsnav.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/fonts/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css">
    <!-- Slider Revolution CSS Files -->
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
    <!-- light-box
        <link href="js/lightbox-jscss/css/lightgallery.css" rel="stylesheet">
        -->
</head>

<body>

    <!-- Preloader -->
    <div class="preloader"></div>
    <!-- Preloader -->

    <div class="page_wapper">
        <!---------page-wapper----->

        <section id="topbar" class="topbar clearfix">
            <div class="container">
                <div class="row">
                    <div class="topbar-one  topbar-widgets  col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="top_bar_widgets_inner">
                            <p><span class="icon-leaf"></span>Winner of Over 200 Awards Since 1964. <a href="#">Free Consultation <span class="icon-next"></span></a></p>
                        </div>
                    </div>

                    <div class="topbar-two  topbar-widgets  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="top_bar_widgets_inner">
                            <ul>
                                <li><a href="#">Special Offers</a></li>
                                <li><a href="#"> FAQ’s</a></li>
                                <li><a href="#"> Brochures</a></li>
                                <li> <a href="#" class="loca_pin"><span class="icon-pin"></span>Find a Location</a></li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="mid_bar">

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12">

                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        <div class="mid_bar_content">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="mid_wapper">
                                        <div id="text-6" class="widget widget_text">
                                            <div class="textwidget">
                                                <div class="mid_wapper">
                                                    <span class="icon icon-time-and-date"></span>
                                                    <p></p>
                                                    <div class="content_mid">
                                                        <p class="dark">Mon – Sat 9.00 – 18.00</p>
                                                        <p class="light">Sunday Holiday</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="mid_wapper">
                                        <div id="text-7" class="widget widget_text">
                                            <div class="textwidget">
                                                <div class="mid_wapper">
                                                    <span class="icon icon-telephone"></span>
                                                    <p></p>
                                                    <div class="content_mid">
                                                        <p class="dark">(555) 890 1234 </p>
                                                        <p class="light">support@lawnella.com</p>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <div class="schedule-box"><a class="schedule-btn theme_btn" href="#">Get a Quote</a></div>
                    </div>
                </div>
            </div>
        </section>

        <header id="header" class="header header-style-v1">
            <div class="navbar navbar-expand-lg bsnav bsnav-sticky bsnav-sticky-slide">
                <div class="container">
                    <div class="site-logo ">
                        <a href="index.html"><img src="img/logo.png" class="img-fluid" alt="logo" /></a>
                    </div>
                    <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar_left navbar-nav navbar-mobile  mr-auto ">
                            <li class="menu-item nav-item menu-item-has-children dropdown active">
                                <a class="nav-link link_hd first-child " href="index.html">  Home  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="index.html">Landscape Home Page 01</a></li>
                                    <li class="nav-item"><a class="nav-link" href="index-2.html">Landscape Home Page 02</a></li>
                                    <li class="nav-item"><a class="nav-link" href="index-3.html">Landscape Home Page 03</a></li>
                                    <li class="nav-item"><a class="nav-link" href="index-4.html">Landscape Home Page 04</a></li>
                                </ul>
                            </li>

                            <li class="menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="#">  Pages </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
                                    <li class="nav-item"><a class="nav-link" href="faqs.html">FAQ's</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pricing-plans.html">Pricing Plans</a></li>
                                    <li class="nav-item"><a class="nav-link" href="testimonials.html">Testimonials</a></li>
                                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                                    <li class="nav-item"><a class="nav-link" href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li class=" menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="services-01.html">  Services  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="service-single.html">Service Single</a></li>
                                    <li class="nav-item"><a class="nav-link" href="services-01.html">Services 01</a></li>
                                    <li class="nav-item"><a class="nav-link" href="services-02.html">Services 02</a></li>
                                </ul>
                            </li>
                            <li class="menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="3-columns-grid.html">  Projects  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="2-columns-grid.html">2 Columns Grid</a></li>
                                    <li class="nav-item"><a class="nav-link" href="2-columns-masonry.html">2 Columns Masonry</a></li>
                                    <li class="nav-item"><a class="nav-link" href="3-columns-grid.html">3 Columns Grid</a></li>
                                    <li class="nav-item"><a class="nav-link" href="3-columns-masonry.html">3 Columns Masonry</a></li>
                                    <li class="nav-item"><a class="nav-link" href="project-detail.html">Project Detail</a></li>
                                </ul>
                            </li>
                            <li class="menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="blog-left-sidebar.html">  Blog  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li class="nav-item"><a class="nav-link" href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    <li class="nav-item"><a class="nav-link" href="single-post.html">Single Post</a></li>
                                </ul>
                            </li>
                            <li class="menu-item nav-item menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="products.html">  Shop  </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="product-single.html">Products Single</a></li>
                                    <li class="nav-item"><a class="nav-link" href="products.html">Products</a></li>
                                    <li class="nav-item"><a class="nav-link" href="shopping-cart.html">Shopping cart</a></li>
                                    <li class="nav-item"><a class="nav-link" href="checkout.html">Checkout</a></li>
                                    <li class="nav-item"><a class="nav-link" href="my-account.html">My Account</a></li>
                                </ul>
                            </li>


                        </ul>

                        <ul class="navbar_right navbar-nav navbar-mobile  ml-auto">
                            <li class="menu-item nav-item search_link menu-item-has-children dropdown">
                                <a class="nav-link link_hd" href="#"> <span class="icon-search"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="nav_search">
                                        <form>
                                            <input type="text" name="search" placeholder="KeyWords...">
                                            <button class="theme_btn"><span class="icon-search"></span></button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>


                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <!-------------page----header---------->

            <div class="page-header title-area">

                <div class="container">
                    <div class="header-title ">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="page-title">Blog Single Post</h1>
                            </div>
                        </div>
                    </div>
                    <div class="breadcrumb_area">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <!-- start breadcrumbs -->
                                <div class="breadcrumbs">
                                    <ul class="bread-crumb clearfix">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li>Blog Single Post</li>
                                    </ul>
                                </div>
                                <!-- end breadcrumbs -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------page----header---------->

            <!----project_type_one------->
            <section class="blog_single_details">
                <div class="container">



                    <div class="row">

                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="left_blog_details">
                                <div class="blog_single_inner">
                                    <div class="image">
                                        <img src="img/blog/blog-single.jpg" class="img-fluid" alt="img" />
                                    </div>
                                    <div class="content_inner">
                                        <div class="tag">
                                            <a href="#"><span class="icon-folder"></span>Gardening</a>
                                        </div>
                                        <ul>

                                            <li><img src="img/resource/news-authiur-hme-1-1.png" class="img-fluid" alt="authour"> Joel hillary</li>
                                            <li><span class="icon-calendar"></span>jun 10, 2019</li>
                                            <li><span class="icon-comment1"></span>06 Comments</li>
                                        </ul>
                                        <h2>
                                            <a href="#">How to Manage Your Lawn in Late Summer</a>
                                        </h2>
                                        <p>Ever undertakes laborious physical except to obtain our some advantages rerum facilis est et expedita can procure him some great pleasure occur in which toil and pain can procure him some great pleasure. To take
                                            a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it But who has any right to find fault with a man who chooses to enjoy a pleasure that has no
                                            annoying consequences.</p>
                                        <p>Great pleasure occur in which toil and pain can procure him some to take a trivial example, which us ever undertakes laborious physical exercise.</p>
                                        <h2>What time of day should I water?</h2>
                                        <p>Some advantages rerum facilis est et expedita can procure him some great pleasure occur which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical
                                            exercise some advantages.</p>
                                        <h6>
                                            <small>Satisfaction guaranteed or double your grass back.</small>
                                        </h6>
                                        <p>Which toil and pain can procure him some great pleasure. To take a trivial example, which of us find fault with a man who chooses to enjoy a pleasure that has no annoying.</p>
                                        <img src="img/blog/blog-single-inner-img.jpg" class="img-fluid" alt="img" />
                                        <p>This mistaken idea of denouncing pleasure and praising pain was born and we will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder
                                            of human happiness.</p>
                                    </div>
                                    <div class="media_extra">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12">
                                                <ul class="tags_in">
                                                    <li>Tags: </li>
                                                    <li><a href="#">Garden, </a></li>
                                                    <li><a href="#">Experts,</a></li>
                                                    <li><a href="#">Plants,</a></li>
                                                    <li><a href="#">Irrigation</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-12">
                                                <ul class="media_icon">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i>,</a></li>
                                                    <li><a href="#"><i class="fa fa-skype"></i>,</a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="next_prev_post">
                                    <ul class="clearfix">
                                        <li>
                                            <a href="#">
                                                <div class="prev_post blp">
                                                    <div class="image">
                                                        <img src="img/blog/prev-post-img.png" class="img-fluid" alt="img" />
                                                    </div>
                                                    <div class="text">
                                                        <p><i class="fa fa-angle-double-left"></i>Previous Post</p>
                                                        <h2>Can Weeds Damage Your Lawn & Garden?</h2>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="next_post blp">
                                                    <div class="text">
                                                        <p>Next Post<i class="fa fa-angle-double-right"></i></p>
                                                        <h2>How Often Should I Water Lawn in the Summer?</h2>
                                                    </div>
                                                    <div class="image">
                                                        <img src="img/blog/next-post-img.png" class="img-fluid" alt="img" />
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="same_authour">
                                    <div class="image"><img src="img/blog/authourimg.png" class="img-fluid" alt="img" /></div>
                                    <div class="content">
                                        <h2>Piyush Miranda</h2>
                                        <p class="work"> Blog Writter</p>
                                        <p class="desc">Give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master builder of human chooses to enjoy a pleasure that has no annoying.</p>
                                        <ul>
                                            <li><a href="#" class="theme_btn">Read All Post</a></li>
                                            <li><a href="#" class="share"><i class="fa fa-share-alt"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="commemts clearfix">
                                    <div class="head">
                                        <h2 class="title">Read Comments</h2>
                                    </div>
                                    <div class="comments-outer">
                                        <div class="inner-coment one clearfix">
                                            <div class="image">
                                                <img src="img/blog/comment-img.png" class="img-responsive" alt="comment" width="70" height="70">
                                            </div>
                                            <div class="comment-text">
                                                <h2 class="name">Steven Rich – <span>Sep 17, 2016</span></h2>
                                                <p>How all this mistaken idea of denouncing pleasure and praising pain was born we will give you a complete account of the system, and expound the actual teachings.</p>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="inner-coment two clearfix">
                                            <div class="image">
                                                <img src="img/blog/comment-img.png" class="img-responsive" alt="comment" width="70" height="70">
                                            </div>
                                            <div class="comment-text">
                                                <h2 class="name">William Cobus –<span> Aug 21, 2016</span></h2>
                                                <p>There anyone who loves or pursues or desires to obtain pain itself, because pain, because occasionally circumstances occur some great pleasure.</p>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="inner-coment one clearfix">
                                            <div class="image">
                                                <img src="img/blog/comment-img.png" class="img-responsive" alt="comment" width="70" height="70">
                                            </div>
                                            <div class="comment-text">
                                                <h2 class="name">Steven Rich –<span> Sep 17, 2016</span></h2>
                                                <p>How all this mistaken idea of denouncing pleasure and praising pain was born we will give you a complete account of the system, and expound the actual teachings.</p>
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="comment_form">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <textarea name="message" placeholder="Comments " rows="3" required="required"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <input type="text" name="name" placeholder="Your Name *">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <input type="text" name="email" placeholder="Email *">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <input type="text" name="web" placeholder=" Website">
                                                    </div>
                                                </div>


                                                <div class="col-lg-8 col-md-8 col-sm-12">
                                                    <div class="form-group mg_top check_box">
                                                        <input type="checkbox" id="test2">
                                                        <label for="test2">Click here &amp; Submit to receive updates &amp; offers</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12">
                                                    <div class="form-group mg_top apbtn">
                                                        <button class="theme_btn" type="submit">Submit Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 co-md-12 col-sm-12">
                            <div class="blog_siderbar">
                                <div class="search_box">
                                    <form>
                                        <input type="text" name="search" placeholder="Enter Keyword..." />
                                        <button class="sch_btn" type="submit">Search</button>
                                    </form>
                                </div>
                                <div class="category_blog">
                                    <h2 class="side_title">Categories</h2>
                                    <div class="cat_inner inner_box">
                                        <ul>
                                            <li>
                                                <a href="#">Lawn Movers <span>06</span></a>
                                            </li>
                                            <li>
                                                <a href="#">Electric Movers <span>06</span></a>
                                            </li>
                                            <li>
                                                <a href="#">Parts & Accessories <span>06</span></a>
                                            </li>
                                            <li>
                                                <a href="#">Reel Movers <span>06</span></a>
                                            </li>
                                            <li>
                                                <a href="#">Artifical Tree & Plants <span>06</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="popular_post_blog">
                                    <h2 class="side_title">Popular Post</h2>
                                    <div class="post_inner inner_box">
                                        <div class="blog_in">
                                            <div class="image">
                                                <img src="img/blog/popular-blog-1.jpg" class="img-fluid" alt="post" />
                                                <div class="overlay">
                                                    <span class="icon-ui"></span>
                                                </div>
                                            </div>
                                            <div class="content_inner">
                                                <p><span class="icon-calendar"></span>Jul 10, 2019</p>
                                                <h2>
                                                    <a href="#">Basic Indoor Cactus
                                                            Care</a>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="blog_in">
                                            <div class="image">
                                                <img src="img/blog/popular-blog-1.jpg" class="img-fluid" alt="post" />
                                                <div class="overlay">
                                                    <span class="icon-ui"></span>
                                                </div>
                                            </div>
                                            <div class="content_inner">
                                                <p><span class="icon-calendar"></span>Jul 10, 2019</p>
                                                <h2>
                                                    <a href="#">Basic Indoor Cactus
                                                                Care</a>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="blog_in">
                                            <div class="image">
                                                <img src="img/blog/popular-blog-1.jpg" class="img-fluid" alt="post" />
                                                <div class="overlay">
                                                    <span class="icon-ui"></span>
                                                </div>
                                            </div>
                                            <div class="content_inner">
                                                <p><span class="icon-calendar"></span>Jul 10, 2019</p>
                                                <h2>
                                                    <a href="#">Basic Indoor Cactus
                                                                    Care</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="archive_blog">
                                    <h2 class="side_title">Archives</h2>
                                    <div class="arch_inner inner_box">
                                        <ul>
                                            <li>
                                                <a href="#">February 2019</a>
                                            </li>
                                            <li>
                                                <a href="#">February 2019 </a>
                                            </li>
                                            <li>
                                                <a href="#">February 2019 </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="instagram_blog">
                                    <h2 class="side_title">Instagram Feed</h2>
                                    <div class="insta_inner inner_box">
                                        <ul>
                                            <li>
                                                <a href="#"><img src="img/blog//insta-1.jpg" class="img-fluid" alt="img"></a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="img/blog//insta-1.jpg" class="img-fluid" alt="img"></a>
                                            </li>
                                            <li>
                                                <a href="#"> <img src="img/blog//insta-1.jpg" class="img-fluid" alt="img"></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="tag_blog">
                                    <h2 class="side_title">Tag Cloud</h2>
                                    <div class="tag_inner inner_box">
                                        <a href="#">Idea</a>
                                        <a href="#">Garden</a>
                                        <a href="#">Experts</a>
                                        <a href="#">Tips</a>
                                        <a href="#">Growth</a>
                                        <a href="#">Irrigation</a>
                                        <a href="#">Services</a>
                                        <a href="#">Products</a>
                                        <a href="#">Landscape</a>
                                        <a href="#">Flowers</a>
                                        <a href="#">Plants</a>
                                        <a href="#">Information</a>
                                        <a href="#">Design</a>
                                        <a href="#">Something</a>
                                        <a href="#">Policies</a>
                                    </div>
                                </div>
                                <div class="subscribe_blog">
                                    <h2 class="side_title">Subscribe Us</h2>
                                    <div class="sub_inner inner_box">
                                        <form>
                                            <input type="text" name="email" placeholder="Email">
                                            <button class="theme_btn" type="submit">Subscribe Us</button>
                                        </form>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>


                </div>

            </section>
            <!----project_type_one------->



            <!--footer-->
            <section class="footer footer_type_one">
                <div class="container">
                    <div class="row">
                        <div class=" col-md-4 col-sm-6 col-xs-12">
                            <div class="footer_widgets ">
                                <img src="img/footer-logo.png" class="img-fluid logo_title" alt="img" />
                                <div class="inner_widgets ">
                                    <p class="about_para"><span>Lawnella’s</span> hardworking team has been delivering outstanding, environmentally friendly landscapes for over 25 years around the world...</p>
                                    <div class="subscribe">
                                        <p>Receive Special Offers & Promos</p>
                                        <form>
                                            <input type="text" name="sub" placeholder="Email Address..." />
                                            <button type="submit" class="arrow_btn"><span class="icon-next-1"></span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-4 col-sm-6 col-xs-12">
                            <div class="footer_widgets">

                                <h2 class="title">Usefull Links</h2>
                                <div class="inner_widgets">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">

                                            <ul>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="#">Meet Experts</a></li>
                                                <li><a href="products.html">Projects</a></li>
                                                <li><a href="#">A Quote</a></li>
                                                <li><a href="#">Locations</a></li>
                                                <li><a href="testimonials.html">Testimonials</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <ul>
                                                <li><a href="services-01.html">Services</a></li>
                                                <li><a href="faqs.html">FAQ’s</a></li>
                                                <li><a href="#">Appointment</a></li>
                                                <li><a href="#">Private Policy</a></li>
                                                <li><a href="contact.html">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-4 col-sm-6 col-xs-12">
                            <div class="footer_widgets">
                                <h2 class="title">Latest From Blog</h2>
                                <div class="inner_widgets">
                                    <div class="latest_news_foot">
                                        <img src="img/foot-news-1.jpg" class="img-fluid" alt="img" />
                                        <div class="text">
                                            <h2><a href="#">Basic Indoor Cactus Care</a></h2>
                                            <p><span class="icon-calendar"></span>Aug 24, 2019</p>
                                        </div>
                                    </div>
                                    <div class="latest_news_foot">
                                        <img src="img/foot-news-2.jpg" class="img-fluid" alt="img" />
                                        <div class="text">
                                            <h2><a href="#">Basic Indoor Cactus Care</a></h2>
                                            <p><span class="icon-calendar"></span>Aug 24, 2019</p>
                                        </div>
                                    </div>
                                    <div class="latest_news_foot">
                                        <img src="img/foot-news-3.jpg" class="img-fluid" alt="img" />
                                        <div class="text">
                                            <h2><a href="#">Basic Indoor Cactus Care</a></h2>
                                            <p><span class="icon-calendar"></span>Aug 24, 2019</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--footer-->
            <!--footer-->
            <section class="footer_last footer_last_type_one">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p>Copyright © 2020 Lawnella, All Rights Reserved.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-skype"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--footer-->


        </main>

        <a href="#" id="scroll" style="display: none;"><span class="icon-next-1"></span><i class="icon-branch-with-leaves-black-shape"></i></a>
        <!---------page-wapper----->
    </div>

    <!---------mbile-navbar----->
    <div class="bsnav-mobile">
        <div class="bsnav-mobile-overlay"></div>
        <div class="navbar">
            <button class="navbar-toggler toggler-spring mobile-toggler"><span class="fa fa-close"></span></button>
        </div>
    </div>
    <!---------mbile-navbar----->

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bsnav.min.js"></script>
    <script src="js/owl.js"></script>
    <!---Slider Revolution core JavaScript files ---->
    <script src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Slider Revolution extension scripts. ONLY NEEDED FOR LOCAL TESTING-->
    <script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!---filter-gallery-->
    <script src="js/isotope.min.js"></script>
    <!---insta light-box-gallery    -->
    <script src="js/jquery.fancybox.min.js"></script>
    <!---html5lightbox -->
    <script src="js/html5lightbox.js"></script>
    <!---jquery-ui    -->
    <script src="js/jquery-ui.js"></script>
    <!---jquery-ui    -->
    <script src="js/masonry.pkgd.js"></script>
    <!--Google Map APi Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
    <script src="js/gmaps.js"></script>
    <script src="js/map-script.js"></script>
    <!--End Google Map APi-->
    <script src="js/validator.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>