@page
@model JurayUniversal.Website.Areas.ThemePage.Pages.ITemplate.DetailsModel

@{
    ViewData["Title"] = "JSSL TEMPLATE Details";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DETAILS TEMPLATE</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TemplateType.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TemplateType.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TemplateType.Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TemplateType.Key)
        </dd>
                </dl>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <a href="javascript:history.back()" class="btn bg-gradient-warning btn-sm">Back</a>

        </div>
    </div>
</div>