@page
@model JurayUniversal.Website.Areas.ThemePage.Pages.ITemplate.EditModel

@{
    ViewData["Title"] = "JSSL TEMPLATE Edit";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">NEW TEMPLATE</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TemplateType.Id" />
            <div class="form-group">
                <label asp-for="TemplateType.Name" class="control-label"></label>
                <input asp-for="TemplateType.Name" class="form-control" />
                <span asp-validation-for="TemplateType.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                         @if (!String.IsNullOrEmpty(Model.TemplateType.Url))
                        {
                                            <label class="control-label">Previous Image></label>
<br />
                            <img src="@Model.TemplateType.Url" class="img-fluid" style="max-height:150px;" />
                        }
            </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
