@page
@model JurayUniversal.Website.Areas.Content.Pages.IFaq.CreateModel

@{
    ViewData["Title"] = "FAQ Create";
    @if (User.Identity.IsAuthenticated && User.IsInRole("SubAdmin") || User.IsInRole("mSuperAdmin"))
    {
        Layout = "/Pages/Shared/Admin/_Main.cshtml";

    }
    else
    {
        Layout = "/Pages/Shared/Admin/_User.cshtml";

    }
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">NEW FAQ</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FAQ.Title" class="control-label"></label>
                        <input asp-for="FAQ.Title" class="form-control" />
                        <span asp-validation-for="FAQ.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FAQ.Message" class="control-label"></label>
                        <input asp-for="FAQ.Message" class="form-control" />
                        <span asp-validation-for="FAQ.Message" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FAQ.SortOrder" class="control-label"></label>
                        <input asp-for="FAQ.SortOrder" class="form-control" />
                        <span asp-validation-for="FAQ.SortOrder" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="FAQ.Show" /> @Html.DisplayNameFor(model => model.FAQ.Show)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
