@page
@model JurayUniversal.Website.Areas.Admin.Pages.IFacilityPage.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">NEW FACILITY</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Facility.State" class="control-label"></label>
                        <input asp-for="Facility.State" class="form-control" />
                        <span asp-validation-for="Facility.State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Facility.LGA" class="control-label"></label>
                        <input asp-for="Facility.LGA" class="form-control" />
                        <span asp-validation-for="Facility.LGA" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Facility.Ward" class="control-label"></label>
                        <input asp-for="Facility.Ward" class="form-control" />
                        <span asp-validation-for="Facility.Ward" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Facility.FacilityLocation" class="control-label"></label>
                        <input asp-for="Facility.FacilityLocation" class="form-control" />
                        <span asp-validation-for="Facility.FacilityLocation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Excel File With the List</label><br />
                        <input type="file" class="control-label" asp-for="ExcelFile" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
