@page
@model JurayUniversal.Website.Areas.Admin.Pages.IExpenses.MainExpenses.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">UPDATE EXPENES</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CompayExpenses.ExpensesCategoryId" class="control-label"></label>
                        <select asp-for="CompayExpenses.ExpensesCategoryId" class="form-control" asp-items="ViewBag.ExpensesCategoryId"></select>
                    </div>
            <div class="form-group">
                <label asp-for="CompayExpenses.Note" class="control-label"></label>
                <input asp-for="CompayExpenses.Note" class="form-control" />
                <span asp-validation-for="CompayExpenses.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompayExpenses.Amount" class="control-label"></label>
                <input asp-for="CompayExpenses.Amount" class="form-control" />
                <span asp-validation-for="CompayExpenses.Amount" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="CompayExpenses.Date" class="control-label"></label>
                <input asp-for="CompayExpenses.Date" class="form-control" />
                <span asp-validation-for="CompayExpenses.Date" class="text-danger"></span>
            </div>
            

                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
