@page
@model JurayUniversal.Website.V2.Pages.Authv2.Account.ForgotPasswordModel
@{
    @await Component.InvokeAsync("Redirect")

    @if (Model.TemplateLogin == "Login1111")
    {
        Layout = "/Pages/Shared/Layouts/LoginSection/_LoginOne.cshtml";
    }
    else if (Model.TemplateLogin == "Login2222")
    {
        Layout = "/Pages/Shared/Layouts/LoginSection/_LoginTwo.cshtml";
    }
    else if (Model.TemplateLogin == "Login333")
    {
        Layout = "/Pages/Shared/Layouts/LoginSection/_LoginThree.cshtml";
    }
    else if (Model.TemplateLogin == "Login4444")
    {
        Layout = "/Pages/Shared/Layouts/LoginSection/_LoginFour.cshtml";
    }
    else if (Model.TemplateLogin == "Login5555")
    {
        Layout = "/Pages/Shared/Layouts/LoginSection/_LoginFive.cshtml";
    }
    else if (Model.TemplateLogin == "Login6666")
    {
        Layout = "/Pages/Shared/Layouts/LoginSection/AgileVendorLogin/_AgileVendorLogin.cshtml";
    }
    ViewData["Title"] = "Forgot your password?";
}



@if (Model.SuperSetting.LoginTemplateKey == "Login6666")
{
    <h3>@ViewData["Title"]</h3>
    @TempData["error"]
    <form id="account" method="post">

        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <label asp-for="Input.Email" class="form-label"></label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />

            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>



        <div style="margin-top:5px;">
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary"> Send Reset Password Link</button>
        </div>
        <br />
        <a id="login" asp-page="./Login" class="btn btn-default">Back to Login</a>

    </form>

}
else if (Model.SuperSetting.LoginTemplateKey == "Login1111")
{
    <h4>@ViewData["Title"]</h4>
    <form id="account" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @TempData["error"]
        <!-- Email input -->
        <div class="form-outline">
            <label class="form-label" for="form3Example3" style="margin-bottom: .3rem; margin-top: .8rem;">Email address</label>
            <input type="email" id="form3Example3" asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <!-- Checkbox -->
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-top:10px;">
            Send Reset Password Link
        </button>

        <!-- Register buttons -->
        <div class="text-center">
            <a id="forgot-password" asp-page="./Login" class="forgot-password">Back to Login</a>
        </div>
    </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
