@page
@model JurayUniversal.Website.Areas.SMS.Pages.SenderIdPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">NEW SMS SENDER ID</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="SenderId.Title" class="control-label"></label>
                <input asp-for="SenderId.Title" class="form-control" />
                <span asp-validation-for="SenderId.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderId.Date" class="control-label"></label>
                <input asp-for="SenderId.Date" class="form-control" />
                <span asp-validation-for="SenderId.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

            </div>
        </form>
    </div>
</div>


<!-- /.row -->
    </div>
<!-- /.card-body -->
<div class="card-footer">
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
