@page
@model JurayUniversal.Website.Areas.Content.Pages.IUserCategory.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DELETE USER CATEGORY</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>UserCategory</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UserCategory.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UserCategory.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UserCategory.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UserCategory.Description)
                        </dd>
                    </dl>

                    <form method="post">
                        <input type="hidden" asp-for="UserCategory.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>
                    </form>
                </div>

            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>