@page
@model JurayUniversal.Website.Areas.NIPSS.Pages.Dashboard.ParticipantErrorModel
@{
}
<div class="row">
    <div class="col-md-12">

        <div class="box">
            <div class="box-header">
                <h2 class="box-title" style="text-align:center;font-weight:900;text-transform:uppercase;">
                    PARTICIPANT NOT ASIGNED TO AN ACTIVE COURSE
                </h2>
            </div>
            <div class="box-body">
                <h6>Kindly contact the administrator. Thanks</h6>
            </div>
        </div>
    </div>
</div>