@page
@model JurayUniversal.Website.Areas.UserBudget.Pages.BD.UpdateBudgetListModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">NEW ITEM TO BUDGET (@Model.BudgetSubCategory.Title)</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="BudgetList.BudgetSubCategoryId" value="@Model.BudgetSubCategory.Id" />
                    <input type="hidden" asp-for="BudgetList.Id" />

                    <div class="form-group">
                        <label asp-for="BudgetList.Title" class="control-label"></label>
                        <input asp-for="BudgetList.Title" class="form-control" />
                        <span asp-validation-for="BudgetList.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BudgetList.Note" class="control-label"></label>
                        <textarea asp-for="BudgetList.Note" class="form-control summernote"></textarea>
                        <span asp-validation-for="BudgetList.Note" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BudgetList.AmountInNaira" class="control-label"></label>
                        <input asp-for="BudgetList.AmountInNaira" class="form-control" />
                        <span asp-validation-for="BudgetList.AmountInNaira" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BudgetList.AmountInDollar" class="control-label"></label>
                        <input asp-for="BudgetList.AmountInDollar" class="form-control" />
                        <span asp-validation-for="BudgetList.AmountInDollar" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BudgetList.Status" class="control-label"></label>
                        @Html.DropDownListFor(model => model.BudgetList.Status, new SelectList(Enum.GetValues(typeof(JurayUniversal.Domain.Enum.Enum.ProposalStatus))), new { @class = "form-control" })
                        <span asp-validation-for="BudgetList.Status" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="BudgetList.Show" /> @Html.DisplayNameFor(model => model.BudgetList.Show)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
