@page
@model JurayUniversal.Website.Areas.NIPSSADMIN.Pages.EVP.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DETAILS EVALUATION QUESTION</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                 
            </div>
        </div>
        <!-- /.card-body -->
       
    </div>
    
    <div class="card-footer">
        
        <a href="javascript:history.back()" class="btn bg-gradient-warning btn-sm">Back</a>

    </div>
</div>
 