@page
@model JurayUniversal.Website.Areas.Content.Pages.IProduct.Category.EditModel

@{
    ViewData["Title"] = string.Format("{0} Category Edit", await Component.InvokeAsync("ProductTitle"));
    @if (User.Identity.IsAuthenticated && User.IsInRole("SubAdmin") || User.IsInRole("mSuperAdmin"))
    {
        Layout = "/Pages/Shared/Admin/_Main.cshtml";

    }
    else
    {
        Layout = "/Pages/Shared/Admin/_User.cshtml";

    }
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@await Component.InvokeAsync("ProductTitle") CATEGORY EDIT</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ProductCategory.Id" />
                    <div class="form-group">
                        <label asp-for="ProductCategory.Title" class="control-label"></label>
                        <input asp-for="ProductCategory.Title" class="form-control" />
                        <span asp-validation-for="ProductCategory.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="ProductCategory.Publish" /> @Html.DisplayNameFor(model => model.ProductCategory.Publish)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductCategory.MenuSortOrder" class="control-label"></label>
                        <input asp-for="ProductCategory.MenuSortOrder" class="form-control" />
                        <span asp-validation-for="ProductCategory.MenuSortOrder" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductCategory.HomeSortFrom" class="control-label"></label>
                        @Html.DropDownListFor(model => model.ProductCategory.HomeSortFrom, new SelectList(Enum.GetValues(typeof(JurayUniversal.Domain.Enum.Enum.HomeSortFrom))), new { @class = "form-control" })
                        <span asp-validation-for="ProductCategory.HomeSortFrom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
